{% extends 'main/base.html' %}
{% load static %}
{% block extra_head %}
<!-- OGP のタイトル -->
<meta property="og:title" content="{{post.title}} [Album2022]">
<!-- OGP の詳細説明 -->
<meta property="og:description" content="{{post.content　|slice:":89" }}...">
<!-- OGP の画像 -->
<meta property="og:image"
    content="{% if post.image and post.image.url %}{{post.image.url}}{% else %}{% static "main/image/default_post_image.jpeg" %}{% endif %}">
<!-- OGP に表記される URL -->
<meta property="og:url" content="" id="og-url">

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // 現在のURLを取得
        const fullUrl = window.location.href;

        // OGPメタタグを取得
        const ogUrlMetaTag = document.getElementById("og-url");

        // OGPメタタグのcontent属性を更新
        ogUrlMetaTag.setAttribute("content", fullUrl);
    });

</script>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<div>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="h1 m-auto mt-5 text-center fs-1">{{post.title}}</h1>
        <img src="{% if post.image and post.image.url %}{{post.image.url}}{% else %}{% static "main/image/default_post_image.jpeg" %}{% endif %}"
            alt="" style="width: 50vw; height:50vh; object-fit:cover;object-position: top center;" class="mt-2">
        <p style="width:50vw" class="mt-2">{{post.content}}</p>
    </div>
    {% if post.posted_by == request.user %}
    <div style="margin:auto;width:100%;display:flex; justify-content:center;">
        <a href="{% url "post_update" post.id %}" type="submit" class="btn btn-outline-success mt-4 m-auto"
            style="width:50vw;">
            編集
        </a>
    </div>
    {% endif %}
    <div style=" margin:auto;width:100% ;display:flex; justify-content:center;">
        <a href="{% url "index" %}" type="submit" class="btn btn-outline-secondary mt-4 m-auto"
            style="width:50vw;">戻る</a>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block extra_js %}{% endblock %}
